    <!-- Header-->
    <div class="banner1">
    </div>
    <div id="aboutme" class="pfp1">
    </div>
    <!-- About me-->
    <div class="aboutme">
        <div class="aboutleft">
            <div class="titleleft1">
                <h2>{{misDatos.name}}</h2>
            </div>
            <div class="aboutleftparrafo">
                <p>{{misDatos.estudio}}</p>
                <p>{{misDatos.ubicacion.ciudad+" "+misDatos.ubicacion.provincia+" "+misDatos.ubicacion.pais}}</p>
            </div>
        </div>
    </div>
    <!--Background2-->
    <div class="banner3">
        <div class="card w-100">
            <div class="aboutright">
                <h5 class="card-title">{{misDatos.about.acerca}}</h5>
                <div class="desarrollo">
                    <p class="card-text">
                        {{misDatos.about.info}}
                    </p>
                </div>
            </div>
        </div>
    </div>
