.aboutme {
    position: relative; /* Para que los elementos posicionados dentro se alineen correctamente */
    width: 85%;
    margin: auto;
    border: 1px solid gray;
    border-radius: 0 0 30px 30px; /* Esquinas redondeadas */
    background-color: white;
}

.pfp1 {
    width: 90px;
    height: 90px;
    margin: -45px 0 0 20px; /* Ajustado para mover a la izquierda y centrar verticalmente */
    border: 2px solid gray; /* Grosor del borde */
    border-radius: 15px; /* Menos redondeado */
    position: absolute; /* Permite que se superponga */
    left: 0; /* Alineado a la izquierda */
    overflow: hidden; /* Para que no se desborde */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra para darle profundidad */
    background-color: white; /* Fondo blanco para hacerla más estética */
}


.pfp1 img {
    width: 100%; /* Mantiene la imagen dentro del contenedor */
    height: 100%; /* Mantiene la imagen dentro del contenedor */
    object-fit: cover; /* Mantiene la proporción de la imagen */
}

.aboutIn {
    padding: 50px 15px 15px 15px; /* Ajustado el padding */
    margin-left: 5px;
}
.titleIn{
    font-family: 'Roboto Mono', monospace;
}
.aboutInparrafo{
    margin-top: 15px;
    font-size:18px;
    line-height: 5px;
    font-family:'Times New Roman', Times, serif;
}
.aboutBelow{
    width: 100%;
    height: auto;
    padding-left:14px;
    padding-top: 6px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

@media (max-width: 576px) {
    .aboutme {
        width: 95%;
    }
}