    <!-- pfp1-->
    <div id="aboutme" class="pfp1">
    </div>
    <!-- About me-->
    <div class="aboutme">
        <div class="aboutIn">
            <div class="titleIn">
                <h2>{{persona.nombre}} {{persona.apellido}}</h2>
            </div>
            <div class="aboutInparrafo">
                <p>Estudiante de Tudai</p>
                <p>Olavarría, Buenos Aires Argentina</p>
            </div>
        </div>
    </div>
    <!--Background2-->
    <div class="banner3">
        <div class="card w-100">
            <div class="aboutBelow">
                <h5 class="card-title">{{misDatos.about.acerca}}</h5>
                <p class="card-text">{{misDatos.about.info}}</p>
            </div>
        </div>
    </div>
