#fondototal {
    background-image: url(/assets/images/fondolaterales.jpg);
    background-size: cover; 
    background-repeat: repeat-y;
    background-position: center;
    width: 100%;
    height: 100%;
}