<head>
    <meta charset="utf-8">
    <title>Formulario Login</title>
    <link href="/src/app/components/login/login.component.css">
</head>

<body>
    <form #f="ngForm" class="form-login" (ngSubmit)="onLogin()" novalidate>  
        <h5>Login</h5>
        <div>
            <input type="email" id="nombreUsuario" class="controls" value="" placeholder="Usuario" 
                [(ngModel)]="nombreUsuario" name="nombreUsuario" required />
            <!-- <label class="form-label" for="nombreUsuario">Usuario</label> !--> 
        </div>
        <div>
            <input type="password" id="password" class="controls" value="" placeholder="Contraseña"
                [(ngModel)]="password" name="password" required />
            <!-- <label class="form-label" for="password">Contraseña</label> !-->
        </div>
        <button class="buttons" type="submit">Login</button>
        <!--<input id="submit" type="submit" class="buttons" name="" value="Ingresar"> !-->
    </form>
</body>
