<div class="banner">
    <h1 id="code-animation"><span class="keyword console">console</span>.log('¡Hola, soy Juan Wagner!');</h1>
    <div class="code-typing"><span class="keyword const">const</span> developer = 'Juan Wagner';</div>
    <div class="code-fade-in" style="animation-delay: 1.5s;"><span class="keyword const">const</span> interests = ['Tecnología', 'Música'];</div>
    <div class="code-fade-in" style="animation-delay: 3s;"><span class="keyword const">const</span> experience = ['Estudiante', 'null'];</div>
    <div class="code-fade-in" style="animation-delay: 4.5s;"><span class="keyword let">let</span> languages = ['Java', 'JavaScript', 'PHP'];</div>
    <div class="code-fade-in" style="animation-delay: 6s;"><span class="keyword let">let</span> frameworks = ['Angular', 'Spring'];</div>
    <div class="code-fade-in" style="animation-delay: 7.5s;">-</div>
    <div class="code-fade-in" style="animation-delay: 9s;"><span class="keyword const">const</span> values = ['Integridad', 'Trabajo en equipo'];</div>
    <div class="code-fade-in" style="animation-delay: 10.5s;"><span class="keyword let">let</span> goal = 'Desarrollar software innovador';</div>
    <div class="code-fade-in" style="animation-delay: 12s;"><span class="keyword fun">fun</span><span class="function-name"> dream</span>(): return '¡Hacer aplicaciones geniales!';</div>
</div>
