<div class="banner3">
    <!--Educacion-->
    <div id="educacion" class="card w-100">
        <div class="modifcardtitle">
            <h5 class="card-title"> Educacion </h5>
        </div>
        <!--Tarjeta 1-->
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{misDatos.educacion.educacion_1.institucion}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{misDatos.educacion.educacion_1.duracion}}</h6>
                <p class="card-text">{{misDatos.educacion.educacion_1.titulo}}.</p>
            </div>
        </div>
        <!--Tarjeta 2-->
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{misDatos.educacion.educacion_2.institucion}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{misDatos.educacion.educacion_2.duracion}}</h6>
                <p class="card-text">{{misDatos.educacion.educacion_2.titulo}}</p>
            </div>
        </div>
    </div>
</div>
