<!--Background2-->
<div class="banner3">
    <!--Proyectos-->
    <div id="empleo" class="card w-100">
        <div class="modifcardtitle">
            <h5 class="card-title">Proyecto</h5>
        </div>
        <!-- Creador de Proyectos -->
        <div class="card w-100" id="borderless">
            <div class="col-lg-2 md-2 sm-2">
                <button type="button" class="btn btn-dark" routerLink="/nuevopro" *ngIf="isLogged">
                    Nuevo Proyecto
                </button>
            </div>
            <div class="card-body">
                <div class="col-lg-1 col-md-1 col-sm-1 .col-xs-1"> </div>
                    <div class="col-lg-11 col-md-11 col-sm-5 .col-xs-3">
                        <table class="table">
                            <tbody>
                                <tr *ngFor="let Proyecto of pro">
                                    <td class="card-title">{{Proyecto.nombreE}}</td>
                                    <td class="card-subtitle mb-2 text-muted">{{Proyecto.descripcionE}}</td>
                                    <td *ngIf="isLogged"><button type="button" class="btn btn-dark" routerLink="/editpro/{{Proyecto.id}}"><i class="bi bi-pencil"></i>Edit</button></td>
                                    <td *ngIf="isLogged"><button type="button" class="btn btn-dark" (click)="delete(Proyecto.id)"><i class="bi bi-trash3"></i>Del</button></td>
                                </tr>
                            </tbody>
                        </table> 
                    </div>  
                </div>
            </div>
        </div>
</div>
