<div class="banner3">
    <!--Proyectos-->
    <div class="card w-100">
        <div class="modifcardtitle">
            <h5 class="card-title">Proyectos</h5>
        </div>
        <!--Tarjeta 1-->
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{misDatos.proyectos.proyecto_1.titulo}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{misDatos.proyectos.proyecto_1.duracion}}</h6>
                <p class="card-text">{{misDatos.proyectos.proyecto_1.trabajorealizado}}</p>
            </div>
        </div>
        <!--Tarjeta 2-->
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{misDatos.proyectos.proyecto_2.titulo}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{misDatos.proyectos.proyecto_2.duracion}}</h6>
                <p class="card-text">{{misDatos.proyectos.proyecto_2.trabajorealizado}}</p>
            </div>
        </div>
    </div>
</div>
