<div class="banner3">
    <!--Hard&Soft Skills-->
    <div class="card w-100">
        <div class="card-body">
            <h4 class="card-title">General Skills</h4>
            <div class="skills">
                <!--Skill 1-->
                <h5 class="card-title">Teamwork</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 101%">101%</div>
                </div>
                <!--Skill 2-->
                <h5 class="card-title">Problem Solving</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">70%</div>
                </div>
                <!--Skill 3-->
                <h5 class="card-title">Communication</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%">85%</div>
                </div>
                <!--Skill 4-->
                <h5 class="card-title">Adaptability</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%">65%</div>
                </div>
            </div>
            <h4 class="card-title">Tech Skills</h4>
            <div class="skills">
                <!--Skill 5-->
                <h5 class="card-title">JavaScript</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="45" aria-valuemin="0" aria-valuemax="100" style="width: 45%">45%</div>
                </div>
                <!--Skill 6-->
                <h5 class="card-title">MySQL</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="1" aria-valuemin="0" aria-valuemax="100" style="width: 1%">1%</div>
                </div>
                <!--Skill 7-->
                <h5 class="card-title">Python</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="5" aria-valuemin="0" aria-valuemax="100" style="width: 5%">5%</div>
                </div>
                <!--Skill 8-->
                <h5 class="card-title">Ruby on Rails</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" style="width: 10%">10%</div>
                </div>
            </div>
            <h4 class="card-title">Languajes</h4>
            <div id="idiomas" class="skills">
                <!--Skill 9-->
                <h5 class="card-title">Español</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%">100%</div>
                </div>
                <!--Skill 10-->
                <h5 class="card-title">English</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%">60%</div>
                </div>
                <!--Skill 11-->
                <h5 class="card-title">Deustch</h5>
                <div class="progress">
                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar"
                        aria-valuenow="15" aria-valuemin="0" aria-valuemax="100" style="width: 15%">15%</div>
                </div>
            </div>
        </div>
    </div>
