<div class="banner3">
    <!--Skills-->
    <div class="card w-100">
        <div class="modifcardtitle">
            <h5 class="card-title">Skills</h5>
        </div>
        <!-- Creador de Skills -->
        <div class="card w-100" id="borderless">
            <div class="col-lg-2 md-2 sm-2">
                <button type="button" class="btn btn-dark" routerLink="/newskill" *ngIf="isLogged">
                    Nueva Skill
                </button>
            </div>
            <!-- <h4 class="card-title">Languajes</h4>
            <div id="idiomas" class="skills" *ngFor="let skill of skill">
                <h5 class="card-title">{{skill.nombre}}</h5>
                <div role="progressbar" attr.aria-valuenow="{{skill.porcentaje}}" aria-valuemin="0" aria-valuemax="100"
                    style="--value:{{skill.porcentaje}}">
                </div>
            </div> !-->
            <div class="card-body">
                <div *ngFor="let skill of skill">
                    <div class="card-title">{{skill.nombre}}></div>
                    <div role="progressbar" attr.aria-valuenow="{{skill.porcentaje}}" aria-valuemin="0" aria-valuemax="100" style="--value:{{skill.porcentaje}}"></div>
                </div>
                <table class="table">
                    <tbody>
                        <tr *ngFor="let skill of skill">
                            <td *ngIf="isLogged"><button type="button" class="btn btn-dark" routerLink="/editskill/{{skill.id}}"><i class="bi bi-pencil"></i>Edit</button></td>
                            <td *ngIf="isLogged"><button type="button" class="btn btn-dark" (click)="delete(skill.id)"><i class="bi bi-trash3"></i>Del</button></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>