<!--Background2-->
<div class="banner3">
    <!--Experiencia-->
    <div id="empleo" class="card w-100">
        <div class="modifcardtitle">
            <h5 class="card-title">{{misDatos.experiencia.experienciabase}}</h5>
        </div>
        <!--Tarjeta 1-->
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{misDatos.experiencia.experiencia_1.empresa}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{misDatos.experiencia.experiencia_1.duracion}}</h6>
                <p class="card-text">{{misDatos.experiencia.experiencia_1.trabajorealizado}}</p>
            </div>
        </div>
        <!--Tarjeta 2-->
        <div class="card w-75">
            <div class="card-body">
                <h5 class="card-title">{{misDatos.experiencia.experiencia_2.empresa}}</h5>
                <h6 class="card-subtitle mb-2 text-muted">{{misDatos.experiencia.experiencia_2.duracion}}</h6>
                <p class="card-text">{{misDatos.experiencia.experiencia_2.trabajorealizado}}</p>
            </div>
        </div>
    </div>
</div>
